.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    border: 1px solid gray
}

.contact img {
    border-radius: 50%;
    max-height: 10rem;
    align-items: center;
    margin-left: 100px;
}

.btn-light {
    background-color: white;
    color: darkslategray;
    border: none;
}

.address {
    font-size: 1.5rem;
}

.contact-items {
    color: gray;
    align-items: center;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-ul {
    display: flex;
    justify-content: end;
}